.body {
    align-content: center;
    font-size: 16px;
}

#nav-bar {
    background-color: rgb(255, 255, 255);
    color: whitesmoke;
  
    width:80%;
	margin:auto;
    overflow:hidden;
    padding: 5px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

#nav-bar ul {
    list-style: none;
    

}

#nav-bar li {
    padding-right:15px;
    display: inline


}

#portrait {
    height: 330px;
}




@media screen and (min-width: 480px) {
    body {
        background-color: black;
        color: white;
    }

    
  .column {
    width: 33%;
    float: left;
    padding: 20px;
  }
}
  