.body {
    align-content: center;
    font-size: 16px;
    font-style: 'Open Sans', sans-serif;
}

#nav-bar {
    background-color: rgb(255, 255, 255);

  
    width:100%;
	margin:auto;
    overflow:hidden;
    padding: 5px;
    font-size: 26px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 
}

#nav-bar ul {
    list-style: none;
    
}
#nav-bar li {
    padding-right:15px;
    display: inline
}

#portrait {
    height: 330px;
}
 #nai {
     width: 400px;
 }

 #boxes  {
     border: solid white 2px;
     padding: 5px;

 }
@media screen and (min-width: 480px) {
    body {
        background-color: black;
        color: white;
    }

    
  .column {
    width: 30%;
    float: left;
    padding: 10px;
    //border: solid white 2px;
  }
}
  